@font-face {
    font-family: 'Montserrat';
    src: url('/montserrat/static/Montserrat-Regular.ttf');
}
body {
    font-family: Montserrat;
    padding-top:  75px;
    padding-bottom: 20px;
}
nav {
    background-color: #fff;
}
.right {
    width: 54%;
}
.left {
    width: 43%;
}
.content {
    display: none;
}
.commentary {
    height: 120px;
}
.samovyzov:checked + label + .content { display: block; }

@media (max-width: 480px) {
    h1 {
        text-align: center;
    }
    .right-left {
        flex-direction: column;
    }
    .right {
        width: 100%;
        padding-bottom: 15px;
    }
    .left {
        width: 100%;
    }
}